<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="file-explorer/file-explorer.css">
<script type="text/javascript" src="file-explorer/file-explorer.js"></script> 
<script src='https://cdn.jsdelivr.net/gh/nathancarter/jsfs@1/release/jsfs.min.js'></script>

<head onload="var el = document.querySelect('div'); el.style.display = 'none';">
    <script>
         window.onload = function() {
        document.getElementById('drag1').style.display='none';
        document.getElementById('drag2').style.display='none';
        document.getElementById('drag3').style.display='none';
        document.getElementById('drag4').style.display='none';
    }
         
     </script>
          <script>
          
    

      </script>
     
     
     	<link rel="stylesheet" href="CSS/superfish.css" media="screen">
<script src="jquery-3.6.0.min.js"></script>
       <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <link rel stylesheet="style.css">
     <link rel stylesheet="modern.less">
    
    <html>
<head>
    <script src="winbox.bundle.js"></script>
</head>
        <script type="module">
  import WinBox from "https://unpkg.com/winbox@0.2.0/src/js/winbox.js";
</script>
<body></body>
</html>
    
</head>





<html lang="en">
    
    <style>



 :root {
	/* Color */
	 --surface: #c0c0c0;
	 --button-highlight: #fff;
	 --button-face: #dfdfdf;
	 --button-shadow: #808080;
	 --window-frame: #0a0a0a;
	 --dialog-blue: #000080;
	 --dialog-blue-light: #1084d0;
	 --dialog-gray: #808080;
	 --dialog-gray-light: #b5b5b5;
	 --link-blue: #00f;
	/* Spacing */
	 --element-spacing: 8px;
	 --grouped-button-spacing: 4px;
	 --grouped-element-spacing: 6px;
	 --radio-width: 12px;
	 --checkbox-width: 13px;
	 --radio-label-spacing: 6px;
	 --range-track-height: 4px;
	 --range-spacing: 10px;
	/* Some detailed computations for radio buttons and checkboxes */
	 --radio-total-width-precalc: var(--radio-width)var(--radio-label-spacing);
	 --radio-total-width: calc(var(--radio-total-width-precalc));
	 --radio-left: calc(-1 * var(--radio-total-width-precalc));
	 --radio-dot-width: 4px;
	 --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
	 --radio-dot-left: calc(-1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var( --radio-dot-width ) / 2);
	 --checkbox-total-width-precalc: var(--checkbox-width)var(--radio-label-spacing);
	 --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
	 --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
	 --checkmark-width: 7px;
	 --checkmark-top: 3px;
	 --checkmark-left: 3px;
	/* Borders */
	 --border-width: 1px;
	 --border-raised-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
	 --border-raised-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
	 --border-sunken-outer: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
	 --border-sunken-inner: inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);
	/* Window borders flip button-face and button-highlight */
	 --border-window-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face);
	 --border-window-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);
	/* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
	 --border-field: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
}


#welcome {
    z-index: 10000000;
}
        
        html {
            font-family: "Pixelated MS Sans Serif";
            margin: 0px;
            background-color: #3A6EA5;
        }
        
        .body {
        }

html, body {margin: 0; height: 100%; overflow: hidden}
 
        .taskbar {
            background-image: url(img/taskbar.png)
        }
        
        
.wb-full  { display: none }

        
        .window {
            
        position: absolute;
        margin: auto;
        }
        
        .tray{
            background-image: url(corner.png);
            position: absolute;
            bottom: 4px;
            right: 0px;
            z-index: 100;
            height: 28px;
            width: 150px;
        }
        
        .CMDicon {
            text-align: center;
            width: 100px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px black;
        }
                .punballicon {
                    top: 110px;
            text-align: center;
            width: 100px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px black;
        }
        .webampicon {
            top: 170px;
            text-align: center;
            width: 100px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px black;
        }
        
        .discordicon {
            top: 230px;
            text-align: center;
            width: 100px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px black;
        }
        
        .recycleicon {
            bottom: 60px;
            right: 0px;
            text-align: center;
            width: 100px;
            position: absolute;
            color: white;
            text-shadow: 1px 1px black;
        }

        

        
        
        
        
        @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');
body{ 
  font-family: 'Roboto', sans-serif; 
  color: #fff;
}

@keyframes loader{
  0%{
    transform: translate(-30px);
  }
  100%{
    transform: translate(150px);
  }
}
        
        
.winbox {
            padding: 0px;
            margin: 0px;
    font-family: "Trebuchet MS";
    background: linear-gradient(90deg,#0a246a 0%,#a3c6ed 100%);
    background-repeat: no-repeat;
    background-size: auto 35px;
    padding:0px 5px 2px 2px;
    font-size:13px;
    
    height: 20px;
    font-size: 11px;
	 padding: 2px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
    border-width: 2px;
    padding: 0 0 2px 0;
    height: 12px;
}

        .wb-body {
            background-color: rgb(212, 208, 200);
            color: black;
    text-shadow: 0x 0px #0f1089;
            margin: 2px;
        }
        
.wb-close {
    background-image:  url(img/gui/icon/icon/close.svg), url(img/gui/icon/icon/button-down.svg);
    background-size: 12px, 24px; 
    background-position: center;
    margin-right: 3px;
    margin-left: -3px;
    margin-top: 1px;
}
.wb-max {
    background-image: url(img/gui/icon/icon/maximize.svg), url(img/gui/icon/icon/button-down.svg);
    background-size: 12px, 24px; 
    background-position: center;
    margin-left: -3px;
}
.wb-min{
    background-image: url(img/gui/icon/icon/minimize.svg), url(img/gui/icon/icon/button-down.svg);
    background-size: 12px, 24px; 
    background-position: center;
    margin-left: -3px;
}

        .wb-title {
            text-shadow: 1px 1px #0f1089;
            font-size: 14px;
            font-weight: 500;
        }    

.winbox:not(.focus) {
            padding: 0px;
            margin: 0px;
    font-family: "Trebuchet MS";
    background: linear-gradient(90deg,#808080 0%,#b5b5b5 100%);
    background-repeat: no-repeat;
    background-size: auto 35px;
    padding:2px 5px 2px 2px;
    font-size:13px;
    height: 21px;
    font-size: 11px;
	 padding: 2px;
    height: 21px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
    border-width: 2px;
    padding: 0 0 2px 0;
}



.hide {display: none;}

 .screen .taskbar {
	 position: absolute;
	 z-index: 100;
	 bottom: 0;
	 left: 0;
	 width: 100%;
     height: 31px;
}
/*Just remember*/
 .screen .taskbar .main-section {
	 height: 100%;
	 background-color: #d4d0c8;
         box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
}
 .screen .taskbar .main-section .start-button {
	 position: relative;
	 display: inline-block;
	 font-size: 18px;
	 background: url('img/standardClassic.png');
	 left: -16px;
     height: 22px;
     width: 62px;
     margin-top: 4px;
}
 .screen .taskbar .main-section .start-button::before {
	 content: '';
	 position: relative;
	 display: inline-block;
	 height: 15px;
	 width: 15px;
	 top: 1px;
	 transform: skewX(3deg);
	 -webkit-filter: drop-shadow(1px 1px 1px #333);
}
 .screen .taskbar .main-section .start-menu {
	 display: none;
	 position: absolute;
     background-color: #d4d0c8;
	 width: 380px;
	 height: 550px;
	 left: 0%;
	 bottom: 100%;
	 z-index: -50;             
     box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
	 overflow: hidden;
}
/* remember */
 .screen .taskbar .main-section .start-menu .start-menu-header {
	 display: flex;
	 align-items: center;
	 height: 65px;
	              box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
	 background: linear-gradient(90deg,#0a246a 0%,#a3c6ed 100%);
	 padding: 8px 0px 7px 8px;
              box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
     font-style: italic;
}
 .screen .taskbar .main-section .start-menu .start-menu-header .account-image-wrapper {
display: none;
}
 .screen .taskbar .main-section .start-menu .start-menu-header .account-name {
	 display: inline-block;
	 margin: 0;
	 color: white;
	 font-size: 18px;
	 font-weight: normal;
	 margin-left: 10px;
	 text-shadow: 0px 0px 3px #555;
}
 .screen .taskbar .main-section .start-menu .start-menu-body {
	 position: relative;
	 display: flex;
	 height: calc(100% - 65px - 43px);
	 background-color: white;
	 border: 1px solid #0a0a0a;
                   box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
	 margin: 0 1px;
	 overflow: hidden;
}
 .screen .taskbar .main-section .start-menu .start-menu-body::before {
	 content: '';
	 position: absolute;
	 border-radius: 50%;
	 box-shadow: 0px 4px 5px;
	 z-index: 10;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item {
	 display: flex;
	 align-items: center;
	 padding: 5px;
	 font-size: 11px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item > * {
	 display: inline-block;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item .icon {
	 height: 30px;
	 width: 30px;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item .label {
	 margin-left: 5px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item .label .intent {
	 font-weight: bold;
	 color: #373738;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item .label .program {
	 color: #808080;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item:hover {
	 background-color: #3d64bd;
	 color: white;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-item:hover .label {
	 color: white;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .divider {
	 margin: 5px 0px;
	 height: 1px;
	 background: linear-gradient(to right, white 0%, #d3d3c8 50%, white 100%) center/cover no-repeat;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites {
	 position: relative;
	 display: inline-flex;
	 flex-direction: column;
     background-color: #d4d0c8;
	 height: 100%;
	 width: 50%;
	 padding: 8px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .start-menu-item.intent-item .label .intent {
	 font-weight: bold;
	 color: #373738;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .start-menu-item.intent-item .label .program {
	 color: #808080;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .start-menu-item.intent-item:hover .label .intent, .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .start-menu-item.intent-item:hover .label .program {
	 color: inherit;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .start-menu-item.favorite-item .label {
	 color: #373738;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .start-menu-item.favorite-item:hover .label {
	 color: white;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .all-programs {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 padding: 0px 8px 8px 8px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .all-programs .start-menu-item.all-programs-button {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 font-size: 11px;
	 font-weight: bold;
	 color: #373738;
	 padding: 5px 0px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .all-programs .start-menu-item.all-programs-button::after {
	 content: '';
	 background: url('https://dl.dropboxusercontent.com/u/19745853/Win%20XP%20icons/246.ico') center/contain no-repeat;
	 display: inline-block;
	 width: 20px;
	 height: 20px;
	 margin-left: 5px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-favorites .all-programs .start-menu-item.all-programs-button:hover {
	 color: white;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-shortcuts {
	 display: inline-flex;
	 flex-direction: column;
	 height: 100%;
     background-color: #d4d0c8;
	 width: 50%;
	 padding: 8px;
	 border-left: 1px solid #95bdee;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-shortcuts .start-menu-item .icon {
	 width: 25px;
	 height: 25px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-shortcuts .start-menu-item .label {
	 color: #29356c;
	 font-size: 10px;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-shortcuts .start-menu-item:hover .label {
	 color: white;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-shortcuts .start-menu-item.my-item .label {
	 font-weight: bold;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-shortcuts .start-menu-item.my-item:hover .label {
	 color: white;
}
 .screen .taskbar .main-section .start-menu .start-menu-body .start-menu-shortcuts .divider {
	 background: linear-gradient(to right, transparent 0%, #aebad6 50%, transparent 100%) center/cover no-repeat;
}
 .screen .taskbar .main-section .start-menu .start-menu-footer {
	 height: 43px;
                   box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf;
box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
     background-color: #d4d0c8;
}
 .screen .taskbar .main-section #start-menu-active {
	 display: none;
     
}
 .screen .taskbar .main-section #start-menu-active:checked ~ .start-button {
		 position: relative;
	 display: inline-block;
	 font-size: 18px;
	 background: url('img/pressedClassic.png');
	 left: -16px;
     height: 22px;
     width: 62px;
     margin-top: 4px;
}
 .screen .taskbar .main-section #start-menu-active:checked ~ .start-menu {
	 display: block;
}
 .container {
	 text-align: center;
	 line-height: 90vh;
}
 .container .screen {
	 overflow: hidden;
	 display: inline-block;
	 vertical-align: middle;
	 text-align: left;
	 line-height: normal;
     width: 100%;
     height: 100%;
}
 * {
	 box-sizing: border-box;
	 user-select: none;
	 -webkit-user-select: none;
	 cursor: default;
}
 html, body {
	 margin: 0;
	 width: 100%;
	 height: 100%;
	 font-family: verdana;
            background-position: center;
            background-size: cover;
}

 .title-bar-controls button[aria-label="Minimize"] {
	 background-image: svg-load("./icon/minimize.svg");
	 background-repeat: no-repeat;
	 background-position: bottom 3px left 4px;
}
 .title-bar-controls button[aria-label="Maximize"] {
	 background-image: svg-load("./icon/maximize.svg");
	 background-repeat: no-repeat;
	 background-position: top 2px left 3px;
}
 .title-bar-controls button[aria-label="Restore"] {
	 background-image: svg-load("./icon/restore.svg");
	 background-repeat: no-repeat;
	 background-position: top 2px left 3px;
}
 .title-bar-controls button[aria-label="Help"] {
	 background-image: svg-load("./icon/help.svg");
	 background-repeat: no-repeat;
	 background-position: top 2px left 5px;
}
 .title-bar-controls button[aria-label="Close"] {
	 margin-left: 2px;
	 background-image: svg-load("./icon/close.svg");
	 background-repeat: no-repeat;
	 background-position: top 3px left 4px;
}

#datetime {
    box-shadow: inset -2px -2px #dfdfdf, inset 2px 2px #808080;
box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a;
     background-color: #d4d0c8;
    color: black; z-index: 100098; font-size: 12px; position: absolute; bottom: 4; right: 4; height: 24px; text-align: center; width: 100px; line-height: 24px;
}

    </style>

